/* body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
} */

body {
  /* background: rgba(145, 162, 189, 0.63) url(../img/header-vector.png) top right no-repeat; */
  color: rgb(23, 54, 93);
  font-family: "verdana";
  font-size: 16px;
  line-height: 1.5;
  background: url("../src/img/dna4x.jpg") repeat;
}
/*img {  
max-width: 100% !important;  
}*/
.content_body_wrapper {
  /* padding-bottom: 9px; */
  margin-bottom: 15px;
  margin-top: 15px;
  background: #fff;
  /* border-top-right-radius: 7px; */
  /* border-bottom-left-radius: 7px; */
  /* border-bottom-right-radius: 7px; */
  /* box-shadow: 1px 1px 3px #aaa; */
}

.content_body {
  border: 1px solid #eee;
  /* border-radius: 8px; */
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 15px;
  padding-bottom: 25px;
  /* -webkit-box-shadow: 1px 1px 3px #aaa; */
  /* -moz-box-shadow: 1px 1px 3px #aaa; */
  /* box-shadow: 0 0px 0 5px rgba(0,0,0,.1), 0px 1px 1px rgba(0,0,0,.35); */
  /* -webkit-border-radius: 2px; */
  /* -moz-border-radius: 2px; */
  /* border-radius: 2px; */
  background: #fff;
  /* border-top-right-radius: 7px; */
  /* border-bottom-left-radius: 7px; */
  /* border-bottom-right-radius: 7px; */
  /* box-shadow: 1px 1px 3px #aaa; */
}

table {
  width: 100%;
  /*table-layout: fixed;*/
}

.img-responsive2 {
  width: 100%;
}
table > tr {
  width: 100%;
}

.header {
  min-height: 110px;
  background-color: white;
  box-shadow: 1px 1px 3px #aaa;
}

.form-horizontal .control-label {
  text-align: left !important;
}

.header .logo {
}
.pull-left {
  float: left;
}

.header .top_menu {
}
.pull-right {
  float: right;
}
.control-margin {
  margin-bottom: 15px;
  font-size: 16px;
  font-weight: bold;
}

.control-margin-bottom15 {
  margin-bottom: 15px;
  font-size: 14px;
  font-weight: bold;
}

.control-margin-lbl {
  margin-bottom: 5px;
  font-size: 16px;
  font-weight: bold;
}
.control-margin-lbl-top {
  margin-top: 15px;
  font-size: 16px;
  font-weight: bold;
}
.control-margin-lbl-select {
  margin-top: 0px;
  font-weight: bold;
  padding-top: 10px;
  padding-bottom: 5px;
  /* margin-right: 100px; */
  margin-bottom: 20px;
  box-shadow: 1px 1px 3px #aaa;
}
.form-group {
  margin-bottom: 0px;
}
input[type="checkbox"],
input[type="radio"],
input.radio,
input.checkbox {
  vertical-align: text-top;
  width: 13px;
  height: 13px;
  padding: 0;
  margin: 0;
  position: relative;
  overflow: hidden;
  top: 2px;
}

label {
  font-weight: 400;
  margin-left: 4px;
  margin-right: 4px;
}
.validationMsg {
  float: left;
  text-align: left;
  color: #6d7f52;
  list-style: circle;
  font-family: "Lucida Sans", "Helvetica", "Sans-serif", "sans";
  font-size: 10pt;
  font-weight: bold;
}

.inline-error > ul {
  display: inline-block;
  position: relative;
  list-style-type: none;
  padding: 0.5em;
  margin: 0.5em 0.5em 0px 0px;
  background: #fff none repeat scroll 0% 0%;
  color: #000;
  min-height: 16px;
  border-width: 1px 1px 1px 29px;
  border-style: solid;
  border-color: #e00;
  -moz-border-top-colors: none;
  -moz-border-right-colors: none;
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  border-image: none;
  box-shadow: 0px 4px 5px #ccc;
}

.inline-error > ul::before {
  /* content: url("../img/error.png"); */
  display: block;
  position: absolute;
  left: -20px;
  top: 7px;
}

.inline-error > ul::after {
  content: "";
  display: block;
  position: absolute;
  left: -21px;
  top: -6px;
  border-style: solid;
  border-width: 0px 6px 6px;
  border-color: transparent transparent #e00;
}
.radio-inline-x {
  position: relative;
  display: inline-block;
  padding-left: 5px;
  padding-right: 15px;
  margin-bottom: 0;
  font-weight: 400;
  vertical-align: middle;
  cursor: pointer;
  padding-top: 0px;
}

.modal {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .modal:before {
    display: inline-block;
    vertical-align: middle;
    content: " ";
    height: 100%;
  }
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

.date-table {
  /* border: 1px solid black; */
  /* border-collapse: collapse; */
  display: flex;
  width: 500px;

  /* style: width:50% */
}
.img-banner {
  margin: auto;
  display: block;
}
.btn-primary {
  color: #666;
  /* background-color: #007bff; */
  /* border-color: #007bff; */
  background-color: #cfc7b8;
  font-family: "Muli-SemiBold";
  height: 35px;
  width: 100px;
}

.btn {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: 0em;
  font-size: 1.7rem;
  line-height: 1.5;
  border-radius: 0rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.btn-cancer {
  color: rgb(46, 41, 41);
  /* background-color: #007bff; */

  border: 2px solid gray;
  background-color: white;
  font-family: "Muli-SemiBold";
  height: 35px;
  width: 100px;
  margin-top: 10px;
}

.welcome-para {
  font-weight: bold;
  text-align: center;
}
.form-control-Search {
  height: 37px;
  border: none;
  border-bottom: 2px solid #e6e6e6;
  width: 300px;
  color: #666;
  text-align: center;
}

.form-holder-search {
  text-align: center;
}

.panel-header-left {
  border-bottom: 2px solid #e9e0cf;
  font-size: 18px;
}

.TFtable {
  border-collapse: collapse;
  /* 	border: #dae5f4 8px solid; */
  margin: auto;
}

.TFtable td,
th {
  border: 1px solid #dee2e6;
  text-align: center !important;
}

.TFtable tr {
  background: #ecf1f9;
}
/*  Define the background color for all the ODD background rows  */
.TFtable tr:nth-child(odd) {
  background: #f0eeec;
  /* background: #f8f8f8;*/
}
/*  Define the background color for all the EVEN background rows  */
.TFtable tr:nth-child(even) {
  background: white;
}

th.last-name *,
td.last-name {
  font-weight: bold;
  color: #aa0000;
}

th.numeric,
td.numeric {
  text-align: right !important;
}

.TFtable tr th {
  background-position: right;
  background-repeat: no-repeat;
  background: #f5f5f5;
}

.TFtable tr th {
  background-color: #f5f5f5;
}

.form-control {
  height: 42px;
  border: 1px solid #e6e6e6;
  width: 100%;
  background: 0 0;
  padding: 0 35px 0 19px;
  color: #999;
}
.form-control:focus {
  border-color: #8eb852;
}
.form-control::-webkit-input-placeholder {
  color: #999;
}
.form-control::-moz-placeholder {
  color: #999;
}
.existingDetails {
  background-color: #f9f6f1;
  border: 2px solid #e6e6e6;
  border-radius: 1px;
}
.spanText {
  color: #999;
}

.Ptable {
  width: 100%;
  border-collapse: collapse;
}
.Ptable td {
  padding: 6px;
  border: 1px solid #dee2e6;
}

.Ptable th {
  padding: 6px;
  border: 1px solid #dee2e6;
}
/* provide some minimal visual accomodation for IE8 and below */
.Ptable tr {
  background: #ecf1f9;
}

/*  Define the background color for all the ODD background rows  */
.Ptable tr:nth-child(odd) {
  background: white;
  /* background: #f8f8f8;*/
}
/*  Define the background color for all the EVEN background rows  */
.Ptable tr:nth-child(even) {
  background: #dff0d8;
}
th.last-name *,
td.last-name {
  font-weight: bold;
  color: #aa0000;
}
th.numeric,
td.numeric {
  text-align: right !important;
}
.Ptable tr th {
  background-position: right;
  background-repeat: no-repeat;
}

.Ptable tr.changed {
  background-color: #fff7ea;
}
.changed {
  color: chocolate;
}

.chooseImage {
  border: 0px;
  background: transparent;
  cursor: pointer;
}
.inline-error > ul {
  display: inline-block;
  position: relative;
  list-style-type: none;
  padding: 0.5em;
  margin: 0.5em 0.5em 0px 0px;
  background: #fff none repeat scroll 0% 0%;
  color: #000;
  min-height: 16px;
  border-width: 1px 1px 1px 29px;
  border-style: solid;
  border-color: #e00;
  -moz-border-top-colors: none;
  -moz-border-right-colors: none;
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  border-image: none;
  box-shadow: 0px 4px 5px #ccc;
}

.inline-error > ul::before {
  content: url("./img/error.png");
  display: block;
  position: absolute;
  left: -20px;
  top: 7px;
}

.inline-error > ul::after {
  content: "";
  display: block;
  position: absolute;
  left: -21px;
  top: -6px;
  border-style: solid;
  border-width: 0px 6px 6px;
  border-color: transparent transparent #e00;
}

.inline-error.ng-hide-add.ng-hide-add-active > ul {
  border-color: #bad405;
}

.ng-hide-add-active > ul {
  visibility: hidden;
  opacity: 0;
  transition: visibility 1s, opacity 0.5s linear;
}

.inline-error.ng-hide-add.ng-hide-add-active > ul:before {
  content: url("./img/success-icon.png");
}
.inline-error.ng-hide-add.ng-hide-add-active > ul:after {
  border-bottom-color: #bad405;
}
.inline-error.ng-hide-add.ng-hide-add-active {
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  transition: 0.5s;
}
.inline-error.ng-hide-remove.ng-hide-remove-active {
  /** border-color : #bad405;*/
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  transition: 0.5s;
  /**content : url(../images/success-icon.png);*/
}

h3 {
  font-family: muli-semibold;
  font-size: 22px;
  color: #453e79;
  text-transform: uppercase;
  letter-spacing: 7px;
  padding: 5px 15px;
  display: inline-block;
  border: 1px solid #dad8e4;
}
p {
  font-family: muli-semibold;
  font-size: 20px;
  color: #6d7f52;
  text-align: center;
  margin-bottom: 26px;
}
